<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aegiswallet"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault"
        android:name=".application.AegisWearApplication">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.MyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.WatchFaceActivity"
            android:allowEmbedded="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:label="Aegis Wallet">

            <meta-data
                android:name="com.google.android.clockwork.home.preview"
                android:resource="@drawable/watchface" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.clockwork.home.category.HOME_BACKGROUND" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ReceiveBitcoin" android:label="@string/receive_bitcoin"></activity>
        <activity android:name=".activities.MyActivity$ToTheMoonActivity" android:label="@string/to_the_moon"></activity>

        <service android:name=".services.MessageListenService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>

</manifest>
